<p style="text-align: center;">
    <h1>Test Authentication 🚀 </h1>
    <!-- main -->
    <div class="main">
        <!--login-profile-->
        <!--signin-form-->
        <div class="w3">
            <div class="signin-form profile">
                <h3>Login</h3>

                <div class="login-form">
                    <form action="/" method="POST">
                        <input type="text" name="logemail" placeholder="E-mail" required>
                        <input type="password" name="logpassword" placeholder="Password" required>
                        <input type="submit" value="LOGIN NOW">

                    </form>
                </div>
            </div>
        </div>
        <div class="agile">
            <div class="signin-form profile">
                <h3>Register</h3>

                <div class="login-form">
                    <form action="/" method="post">
                        <input type="text" name="email" placeholder="E-mail" required="">
                        <input type="text" name="username" placeholder="Username" required="">
                        <input type="password" name="password" placeholder="Password" required="">
                        <input type="password" name="passwordConf" placeholder="Confirm Password" required="">
                        <input type="submit" value="REGISTER">
                    </form>
                </div>
                <p>
                    <a href="#"> By clicking register, I agree to your terms</a>
                </p>
            </div>
        </div>
        <div class="clear"></div>
        <!--//signin-form-->
    </div>